:where(.css-dev-only-do-not-override-fxui8b).ant-btn-primary {
    background: linear-gradient(to bottom, #2d939c, #68C7CF);
    
}

:where(.css-dev-only-do-not-override-1n03bv).ant-btn-default {
    background: linear-gradient(to bottom, #2d939c, #68C7CF);
}

:where(.css-dev-only-do-not-override-fxui8b).ant-btn-default {
    background: linear-gradient(to bottom, #2d939c, #68C7CF);
}

:where(.css-dev-only-do-not-override-fxui8b).ant-modal .ant-modal-close {
    color: #fff;
}